<head>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
</head>
<body>
<h1>Add User</h1>
<form id="adduser" method="POST">
Account:<input type="text" id="account" name="account" required><br>
Password:<input type="password" id="passwd" name="passwd" required><br>
Email:<input type="email" id="email" name="email" required><br>
{{if not .IsAdd1stUser}}
Role:
<input type="checkbox" name="group" value="Guest" checked>Guest
<input type="checkbox" name="group" value="Administrator">Administrator
<br>
{{end}}
<input type="hidden" id="_csrf" name="_csrf" value="{{._csrf}}" />
<input type="submit" value="Add">
</form>
<script>
/* Attach a submit handler to the form */
var curpath = window.location.pathname;
$("#adduser").attr("action", curpath)

$("#adduser").submit(function (event) {
  /* Stop form from submitting normally */
  event.preventDefault();

{{if .IsAdd1stUser}}
  groups = ["Guest", "Administrator"]
{{else}}
  group_ckds = $("input[name='group']:checked")
  groups = []
  for (let i = 0; i < group_ckds.length; i++)
    groups.push(group_ckds[i].value)
{{end}}

  $.ajax({
    type: "POST",
    url: curpath,
    data: JSON.stringify({
      account: $("input[name='account']").val(),
      passwd: $("input[name='passwd']").val(),
      email: $("input[name='email']").val(),
      groups: groups,
    }),
    contentType: "application/json;",
    headers: {
      "X-CSRF-TOKEN": $("input[name='_csrf']").val()
    },
  }).done(function () {
    location.replace("/")
  }).fail(function (data) {
    alert(data);
  });
});
</script>
</body>
