<head>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
</head>
<body>
<h1>Update User</h1>
<h2>Updating {{.tg_account}}</h2>
<form id="updateuser" method="POST">
Email:<input type="email" id="email" name="email" value="{{.tg_email}}" required><br>
<div id="groups">
Role:
</div>
<br>
<input type="hidden" id="_csrf" name="_csrf" value="{{._csrf}}" />
<input type="submit" value="Update">
</form>
<script>
/* List new available groups options */
let cur_groups = {{.tg_groups}};
let available_groups = {{.groups}};
let groups_node = document.getElementById("groups");

for (let i = 0; i < available_groups.length; i++) {
  let group_name = available_groups[i];
  let group_input_node = document.createElement("input");
  let group_txt_node = document.createTextNode(group_name);

  group_input_node.setAttribute("type", "checkbox");
  group_input_node.setAttribute("name", "group");
  group_input_node.setAttribute("value", group_name);
  if ($.inArray(group_name, cur_groups) >= 0)
    group_input_node.setAttribute("checked", "");
  groups_node.appendChild(group_input_node);
  groups_node.appendChild(group_txt_node);
}

/* Attach a submit handler to the form */
$("#updateuser").submit(function (event) {
  /* Stop form from submitting normally */
  event.preventDefault();

  group_ckds = $("input[name='group']:checked")
  groups = []
  for (let i = 0; i < group_ckds.length; i++)
    groups.push(group_ckds[i].value)

  $.ajax({
    type: "POST",
    url: "/updateuser/{{.tg_id}}",
    data: JSON.stringify({
      email: $("input[name='email']").val(),
      groups: groups,
    }),
    contentType: "application/json;",
    headers: {
      "X-CSRF-TOKEN": $("input[name='_csrf']").val()
    },
  }).done(function () {
    location.replace("/")
  }).fail(function (data) {
    alert(data);
  });
});
</script>
</body>
